<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
		<title>
			Yelpsquare®
		</title>
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
	  <!-- Custom styles for this template -->
	  <link href="{{ url_for('static', filename='css/navbar-fixed-top.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" type="text/css">

	</head>
	<body>
		
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Yelpsquare</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
		
    <div class="container">
      <!-- Main component for a primary marketing message or call to action -->
			<p>{% if name %}</p>
				<h1>
				Hello {{ name }}!
			</h1>
			<p>{% else %}</p>
      <div class="jumbotron">
        <p>Search for the best places to eat</p>
				<form role="form" method="GET" action="/search">
					<div class="row">
						<div class="form-group col-md-3">
							<select type="text" class="form-control">
								<option value="" selected disabled>What's for dinner?</option>
								{% for city in cities %}
						    <option>{{city}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group col-md-3">
							<select name="city" type="text" class="form-control">
								<option value="" selected disabled>Where are you?</option>
								{% for city in cities %}
						    <option value="{{ city }}">{{ city }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group col-md-3">
							<select type="text" class="form-control">
								<option value="" selected disabled>Who's going?</option>
								{% for city in cities %}
						    <option>{{city}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group col-md-3">
							<button type="submit" class="btn btn-primary">Search &raquo;</button>
						</div>
					</div>	
				</form>
      </div>
			<p>{% endif %}</p>
    </div> <!-- /container -->

		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
	</body>
</html>
