.select {
	max-height: 250px;
	overflow: scroll;
	width: 200px;
}

#map-canvas {
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#map-container {
	position:relative;
	width: 100%;
	height: 0;
	padding-bottom: 75%;
}

.menutarget {
	display:none;
}

.image {
	height:25px;
}

.image2 {
	height:17px;
}

